{% extends 'base.html.twig'
{% block wrapperClasses %}
    class="extra-left-space"
{% endblock %}
{% block side_nav %}
    {% include 'DsoObservationsLogBundle:Dashboard:side_nav.html.twig' %}
{% endblock %}
{% block mainContent %}

<h1>{{ 'views.new.creation'|trans({'%entity%': 'LoggedObject'}, 'JordiLlonchCrudGeneratorBundle') }}</h1>

<div class="customized-form">
<form class="well" action="{{ path('logged-objects_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-success">{{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
    </p>
</form>
</div>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('logged-objects') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
</div>
{% endblock %}
