{% extends 'base.html.twig' %}
{% block stylesheetsArea %}
    {% stylesheets
    'bundles/dsohome/css/*'
    filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/uran1980fancybox/js/fancybox/source/jquery.fancybox.css') }}">
{% endblock %}
{% block jumbotronBlock %} {% endblock %}
{% block mainContent %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <h3>My Observing Lists (planned)</h3>
                        <a href="{{ path('planner_planned-lists')}}" class="btn btn-primary">Details</a>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <h3 style="text-align: right;">Current location settings</h3>
                        {{ render(controller('DsoPlannerBundle:Planner:locationSettings')) }}
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6 col-md-12 col-lg-12">
                {{ include('DsoPlannerBundle:Planner:custom_filters.html.twig') }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6 col-md-12 col-lg-12">
                {{ include('DsoPlannerBundle:Planner:predefined_filters.html.twig') }}
            </div>
        </div>
    </div>

    {% if pagination is defined %}
        <div class="object-list">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Objects found: {{ pagination.getTotalItemCount }}</div>
                <div class="panel-body">
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>

                {% for object in pagination %}
                    <div class="row">
                        <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10">
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
                                    <a rel="gallery" title="{{ object | dsoName }}" class="fancybox"
                                       href="{{ asset("images/ngcPics/large_800x800/" ~ object.full_size) }}">
                                        <img src="{{ asset("images/ngcPics/thumbnails_100x100/" ~ object.thumb) }}" alt="{{ object.thumb }}"/></a>
                                </div>
                                <div class="col-lg-10 col-md-9 col-sm-9 col-xs-7">
                                    <div class="list-group" style="margin-left:15px;">
                                        <div class="list-group-item">
                                            <h4 class="list-group-item-heading">{{ object | dsoName }}</h4>
                                            <p class="list-group-item-text">Magnitude: <span class="group-item-value"> {{ object.ObjMagnitude }} </span> . Constellation: <span class="group-item-value">{{ object.Constellation }}</span></p>
                                            {#<p class="list-group-item-text">Type: <span class="group-item-value">{{ object.ObjType }}</span> . NGC Description: <span class="group-item-value">{{ object.Ngc_desc }}</span></p>#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <button class="add-item-to-list" data-dsoId="{{ object.Object_id }}" type="button" title="Add item to observing list"> + </button>
                        </div>
                    </div>
                {% endfor %}

                <div class="panel-body">
                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>

        <div id="dialog-form" title="Add selected item to*">
            <form>
                <div id="existingPlannedLists"></div>

                <p style="margin-top: 25px;">Create a new observing list:</p>
                <label for="list_name">List Name</label>
                <input type="text" name="list_name" id="list_name" class="text ui-widget-content ui-corner-all">

                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </form>
            <p><small>* Item will be added to selected lists or to a newly created list only after hitting "Save".</small></p>
        </div>
        <div id="dialog-message-ok" title="Success!">
            <p>
                <span class="ui-icon ui-icon-circle-check" style="float:left; margin:2px 5px 40px 0;"></span>
                Object was added to selected observing lists.
            </p>
        </div>
        <div id="dialog-message-error" class="ui-state-error" title="Failed!">
            <p>
                <span class="ui-icon ui-icon-alert" style="float:left; margin:2px 5px 40px 0;"></span>
                Something went wrong and the object wasn't added to the selected observing lists.
            </p>
        </div>
    {% endif %}
{% endblock %} {# <!-- end mainContent block --> #}
{% block footer_javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% javascripts '@DsoHomeBundle/Resources/public/js/add-result-to-list.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/uran1980fancybox/js/fancybox/source/jquery.fancybox.pack.js') }}"></script>
    <script type="application/javascript">
        $(".fancybox").fancybox({
            helpers : {
                title: {
                    type: 'outside',
                    position: 'top'
                }
            },
            afterLoad: function() {
                this.title = '<div style="font-size:20px; margin-bottom: 5px;">' + this.title + '</div>';
            },
            padding : 3,
            margin : 5
        });
    </script>
    {% endjavascripts %}
{% endblock %}
