{% extends 'DsoHomeBundle:Home:base.html.twig' %}
{% block jumbotronBlock %} {% endblock %}
{% block mainContent %}
    <div>
        {{ render(controller('DsoPlannerBundle:Planner:locationSettings')) }}
        <hr>
    </div>
    <div>
        <div id="predefined-filters">
        <h3>Predefined filters area:</h3>
        <form action="{{ path('dso_planner_predefined_filter') }}" method="post" {{ form_enctype(formPredefinedFilters) }}>
            {{ form_widget(formPredefinedFilters) }}
        </form>
        </div>
        <hr>

        <div id="custom-filters">
        <h3>Custom filters area:</h3>
            <form action="{{ path('dso_planner_custom_filter') }}" method="post" {{ form_enctype(formCustomFilters) }}>
                {{ form_widget(formCustomFilters) }}
            </form>
        </div>
    </div>

    <div class="object-list">
        {% if dsosList is defined %}
            {% for object in dsosList %}
                <li>{{ object.Name1 }}</li>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %} {# <!-- end mainContent block --> #}