{% extends 'DsoHomeBundle:Home:base.html.twig' %}
{% block jumbotronBlock %} {% endblock %}
{% block mainContent %}
    <div>
        <h3>Current location settings:</h3>
        {{ render(controller('DsoPlannerBundle:Planner:locationSettings')) }}
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div id="predefined-filters">
                <h3>Predefined filters:</h3>
                <div class="row"><a href="{{ path('dso_planner_predefined_filter', {'filter_type':'predefined', 'selection':'naked_eye'}) }}" class="btn btn-primary">Naked Eye</a></div>
                <div class="row"><a href="{{ path('dso_planner_predefined_filter', {'filter_type':'predefined', 'selection':'binoculars'}) }}" class="btn btn-primary">Binoculars</a></div>
                <div class="row"><a href="{{ path('dso_planner_predefined_filter', {'filter_type':'predefined', 'selection':'small_telescope'}) }}" class="btn btn-primary">Small Telescope</a></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div id="custom-filters">
                <h3>Custom filters:</h3>
                    <form action="{{ path('dso_planner_custom_filter') }}" method="post" {{ form_enctype(formCustomFilters) }}>
                        {{ form_widget(formCustomFilters) }}
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if pagination is defined %}
        <div class="object-list">
            <h3>Objects found:</h3>
            {# total items count #}
            <div class="count">
                {{ pagination.getTotalItemCount }}
            </div>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            <table>
                <tr>
                    {# sorting of properties based on query components #}
                    <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                    <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
                </tr>

                {# table body #}
                {% for object in pagination %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <td>{{ object.Name1 }}</td>
                        <td>{{ object.Name2 }}</td>
                        <td>{{ object.Constellation }}</td>
                    </tr>
                {% endfor %}
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>

    {% endif %}
{% endblock %} {# <!-- end mainContent block --> #}