{% extends 'base.html.twig' %}
{% block jumbotronBlock %} {% endblock %}
{% block mainContent %}
    <div>
        <h3>Current location settings:</h3>
        {{ render(controller('DsoPlannerBundle:Planner:locationSettings')) }}
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div id="predefined-filters">
                <h3>Predefined filters:</h3>
                <div class="row"><a href="{{ path('dso_planner_predefined_filter', {'filter_type':'predefined', 'selection':'naked_eye'}) }}" class="btn btn-primary">Naked Eye</a></div>
                <div class="row"><a href="{{ path('dso_planner_predefined_filter', {'filter_type':'predefined', 'selection':'binoculars'}) }}" class="btn btn-primary">Binoculars</a></div>
                <div class="row"><a href="{{ path('dso_planner_predefined_filter', {'filter_type':'predefined', 'selection':'small_telescope'}) }}" class="btn btn-primary">Small Telescope</a></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div id="custom-filters">
                <h3>Custom filters:</h3>
                    <form action="{{ path('dso_planner_custom_filter') }}" method="post" {{ form_enctype(formCustomFilters) }}>
                        {{ form_widget(formCustomFilters) }}
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if pagination is defined %}
        <div class="object-list">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Objects found: {{ pagination.getTotalItemCount }}</div>
                <div class="panel-body">
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>

                <!-- Table -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Mag</th>
                            <th>Constellation</th>
                            <th>Obj Type</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for object in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>
                                {{ object.Name1 }}
                                {% if object.Name2 is defined  %}
                                    ({{ object.Name2 }})
                                {% endif %}
                            </td>
                            <td>{{ object.ObjMagnitude }}</td>
                            <td>{{ object.Constellation }}</td>
                            <td>{{ object.ObjType }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="panel-body">
                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %} {# <!-- end mainContent block --> #}