{% extends 'base.html.twig' %}
{% block mainContent %}
    <div id="location-edit" class="container">
        <h2 class="text-center">Edit location details</h2>
        <form action="{{ path('dso_planner_update_location_settings') }}" method="post" name="form" class="form-validation">
            <div class="row">
                <div class="col-lg-7 col-md-7"><input type="text" name="latitude" class="form-control" placeholder="Latitude" autofocus
                            {% if user.latitude is not null %} value="{{ user.latitude }}"{% endif %}></div>
                <div class="col-lg-5 col-md-5"><small class="text-muted">(Eg. 43.234)</small></div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-7"><input type="text" name="longitude" class="form-control" placeholder="Longitude"
                            {% if user.longitude is not null %} value="{{ user.longitude }}"{% endif %}></div>
                <div class="col-lg-5 col-md-5"><small class="text-muted">(Eg. 24.531)</small></div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-7"><input type="text" name="timezone" class="form-control" placeholder="TimeZone"
                            {% if user.timezone is not null %} value="{{ user.timezone }}"{% endif %}></div>
                <div class="col-lg-5 col-md-5"><small class="text-muted">(Eg. 2014-12-2615:47:09)</small></div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-7"><input type="text" name="datetime" class="form-control" placeholder="DateTime"
                            {% if user.datetime is not null %} value="{{ user.datetime }}"{% endif %}></div>
                <div class="col-lg-5 col-md-5"><small class="text-muted">(Eg. Europe/Bucharest)</small></div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12"><button class="btn btn-lg btn-primary btn-block" name="submit" type="submit">Update</button></div>
            </div>
        </form>
    </div>
{% endblock %} {# <!-- end mainContent block --> #}
