<p>Name: {{ currentObservingSite.name }} </p>
<p>Latitude: {{ currentObservingSite.latitude }} </p>
<p>Longitude: {{ currentObservingSite.longitude }} </p>
<p>Datetime: {{ currentObservingSite.datetime }} </p>
<p>TimeZone: {{ currentObservingSite.timeZone }} </p>
