{% extends 'base.html.twig' %}
{% block wrapperClasses %}
    class="extra-left-space"
{% endblock %}
{% block side_nav %}
    {% include 'DsoObservationsLogBundle:Dashboard:side_nav.html.twig' %}
{% endblock %}
{% block mainContent %}
        <div class="row">
            <div id="import-form">
                <p>Latest logged data:</p>
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th>Object Name</th>
                        <th>Type</th>
                        <th>Const</th>
                        <th>Comment</th>
                        <th>DateTime logged</th>
                        <th>Observing session</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dso in pagination %}
                        {#Build the object name#}
                        {% set dsoName = '' %}
                        {% if dso.name %}
                            {% set dsoName = dso.name |trim('"') %}
                        {% endif %}

                        {% if dso.cat1  %}
                            {% set paranthesisOpen = '' %}
                            {% if dsoName %}
                                {% set dsoName = dsoName ~ ' (' ~ dso.cat1 ~ ' ' ~ dso.id1 %}
                                {% set paranthesisOpen = 'yes' %}
                            {% else %}
                                {% set dsoName = dso.cat1 ~ ' ' ~  dso.id1 %}
                            {% endif %}

                            {% if dso.cat2  %}
                                {% if paranthesisOpen %}
                                    {% set dsoName = dsoName ~ ', ' ~ dso.cat2 ~ ' ' ~  dso.id2 ~ ')' %}
                                {% else %}
                                    {% set dsoName = dsoName ~ ' (' ~ dso.cat2 ~ ' ' ~  dso.id2 ~ ')' %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ dsoName }}</td>
                            <td>{{ dso.type }}</td>
                            <td>{{ dso.const }}</td>
                            <td>{{ dso.comment }}</td>
                            <td>{{ dso.observedAt|date('M d Y - H:i') }}</td>
                            <td>{{ dso.obsList }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {# total items count #}
                <div class="count">
                    <p>Total items: {{ pagination.getTotalItemCount }}</p>
                </div>
                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
    </div>
{% endblock %}
