{% extends 'base.html.twig' %}
{% block mainContent %}
        {% include 'DsoObservationsLogBundle:Dashboard:menu.html.twig' %}
        <div class="row">
            <div id="import-form">
                <p>Latest logged data:</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Common Name</th>
                        <th>Other Name</th>
                        <th>Type</th>
                        <th>Const</th>
                        <th>Comment</th>
                        <th>DateTime logged</th>
                        <th>Observing session</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dso in pagination %}
                        {#{{ dump(dso) }}#}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ dso.name }}</td>
                            <td>{{ dso.otherName }}</td>
                            <td>{{ dso.type }}</td>
                            <td>{{ dso.constellation }}</td>
                            <td>{{ dso.comment }}</td>
                            <td>{{ dso.observedAt|date('M d Y - H:i') }}</td>
                            <td>{{ dso.obsList }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {# total items count #}
                <div class="count">
                    <p>Total items: {{ pagination.getTotalItemCount }}</p>
                </div>
                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
    </div>
{% endblock %}
