<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Florin Tiran">
    <link rel="shortcut icon" href="{{ asset('bundles/dsohome/images/ico/favicon.ico') }}">

    <title>
        {% block pageTitle %}Deep-Skies Home{% endblock %}
    </title>

    <!-- @see http://symfony.com/doc/current/cookbook/assetic/asset_management.html#including-css-stylesheets -->
    {% stylesheets
    'bundles/dsohome/css/*'
    filter="cssrewrite"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('dso_home_homepage') }}">Deep-Skies</a>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-left" role="form" action="{{ path('dso_search_term') }}">
                <div class="form-group">
                    <input type="text" name="searchTerm" placeholder="quick dso search" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Go</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="{{ path('dso_home_homepage') }}">Home</a></li>
                <li><a href="{{ path('dso_planner_homepage') }}">Planner</a></li>
                <li><a href="{{ path('dso_observations_log_homepage') }}">Observations Log</a></li>
                {#<li><a href="#vision">Vision</a></li>#}
                <li><a href="{{ path('dso_planner_feedback') }}">Feedback</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</div>

{% block pageHeader %}
    <div class="page-header">
        <div class="login">
            {% if app.user and is_granted('ROLE_USER') %}
                <p>Hi <a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}!</a></p>
                <a href="{{ path('fos_user_security_logout') }}">Logout</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">Sign in</a> or
                <a href="{{ path('fos_user_registration_register') }}">Register</a>
            {% endif %}
        </div>
    </div>
{% endblock pageHeader %}

{% block jumbotronBlock %} {% endblock %}

<div class="container">
    {% block mainContent %}{% endblock %} {# end mainBlock #}
</div>

<footer>
    <div class="container">
        <p class="text-muted">Copyright &copy;{{ 'now'|date('Y') }} Deep-Skies. All rights reserved.</p>
    </div>
</footer>

<!-- Placed at the end of the document so the pages load faster -->
{% block footer_javascripts %}
    {#<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>#}
    {% javascripts
    '@DsoHomeBundle/Resources/public/js/jquery-2.1.0.min.js'
    '@DsoHomeBundle/Resources/public/js/bootstrap-core/*'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
