{% extends 'base.html.twig' %}
{% block wrapperClasses %}
    class="extra-left-space"
{% endblock %}
{% block side_nav %}
    {% include 'DsoObservationsLogBundle:Dashboard:side_nav.html.twig' %}
{% endblock %}
{% block mainContent %}
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12 main">
            <h1 class="page-header">Dashboard</h1>

            <div class="row">
                {#Only render this panel for the Super Admin user.#}
                {% if app.user and is_granted('ROLE_SUPER_ADMIN') %}
                <div class="col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Overview of all logged objects and observation lists.</h3>
                        </div>
                        <div class="panel-body">
                            <p><a href="{{ path('logged-objects') }}"> Display all <strong><em>logged objects</em></strong> available</a></p>
                            <p><a href="{{ path('obs-lists') }}"> Display <strong><em>observations lists</em></strong> available</a></p>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-4 placeholder">
                    <div id="dso_types_observed_chart" style="min-width: 370px; height: 350px; margin: 0 auto"></div>
                </div>
                <div class="col-xs-6 col-sm-4 placeholder">
                    <div id="most_10observed_chart" style="min-width: 370px; height: 350px; margin: 0 auto"></div>
                </div>
                <div class="col-xs-6 col-sm-4 placeholder">
                    <div id="sessions_per_year_chart" style="min-width: 370px; height: 350px; margin: 0 auto"></div>
                </div>
            </div>

            <h2 class="sub-header">Facts</h2>
            <ul>
                <li><strong>{{ uniqueObjectsCount }}</strong> Different objects logged.</li>
                <li><strong>{{ uniqueObsSessionsCount }}</strong> Observing sessions.</li>
                <li><strong>{{ savedLocationsCount }}</strong> Saved locations.</li>
            </ul>

            {% if latestLogged is not empty %}
                <h2 class="sub-header">My latest 20 objects logged</h2>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>List added in</th>
                            <th>DateTime</th>
                            <th>Comments</th>
                            <th>Equipment</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entry in latestLogged %}
                            <tr>
                                <td>{{ entry | dsoName }}</td>
                                <td>{{ entry.listName }}</td>
                                <td>{{ entry.observedAt }}</td>
                                <td>{{ entry.comment }}</td>
                                <td>{{ entry.equipment }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block footer_javascripts %}
    {{ parent() }}
    {% if chart1 is defined %}
        <script src="//code.highcharts.com/5.0.6/highcharts.js"></script>
        <script src="//code.highcharts.com/highcharts-3d.js"></script>
        <script src="//code.highcharts.com/5.0.6/modules/exporting.js"></script>

        {% javascripts
        '@DsoHomeBundle/Resources/public/js/highchart-sand-theme.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">
            // Apply the theme
            Highcharts.setOptions(Highcharts.theme);
            {{ chart(chart1) }}
            {{ chart(chart2) }}
            {{ chart(chart3) }}
        </script>
    {% endif %}
{% endblock %}
