{% extends 'base.html.twig' %}
{% block wrapperClasses %}
    class="extra-left-space"
{% endblock %}
{% block side_nav %}
    {% include 'DsoObservationsLogBundle:Dashboard:side_nav.html.twig' %}
{% endblock %}
{% block mainContent %}
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12 main">
            <h1 class="page-header">Dashboard</h1>

            <div class="row">
                {#Only render this panel for the Super Admin user.#}
                {% if app.user and is_granted('ROLE_SUPER_ADMIN') %}
                <div class="col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Overview of all logged objects and observation lists.</h3>
                        </div>
                        <div class="panel-body">
                            <p><a href="{{ path('logged-objects') }}"> Display all <strong><em>logged objects</em></strong> available</a></p>
                            <p><a href="{{ path('obs-lists') }}"> Display <strong><em>observations lists</em></strong> available</a></p>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-4 placeholder">
                    <div id="dso_types_observed_chart" style="min-width: 370px; height: 350px; margin: 0 auto"></div>
                </div>
                <div class="col-xs-6 col-sm-4 placeholder">
                    <div id="most_10observed_chart" style="min-width: 370px; height: 350px; margin: 0 auto"></div>
                </div>
                <div class="col-xs-6 col-sm-4 placeholder">
                    <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="img">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
            </div>

            <h2 class="sub-header">Section title</h2>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1,001</td>
                        <td>Lorem</td>
                        <td>ipsum</td>
                        <td>dolor</td>
                        <td>sit</td>
                    </tr>
                    <tr>
                        <td>1,002</td>
                        <td>amet</td>
                        <td>consectetur</td>
                        <td>adipiscing</td>
                        <td>elit</td>
                    </tr>
                    <tr>
                        <td>1,003</td>
                        <td>Integer</td>
                        <td>nec</td>
                        <td>odio</td>
                        <td>Praesent</td>
                    </tr>
                    <tr>
                        <td>1,003</td>
                        <td>libero</td>
                        <td>Sed</td>
                        <td>cursus</td>
                        <td>ante</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer_javascripts %}
    {{ parent() }}
    {% if chart1 is defined %}
        <script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
        <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>

        {% javascripts
        '@DsoHomeBundle/Resources/public/js/highchart-sand-theme.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">
            // Apply the theme
            Highcharts.setOptions(Highcharts.theme);
            {{ chart(chart1) }}
            {{ chart(chart2) }}
        </script>
    {% endif %}
{% endblock %}
