{% extends 'base.html.twig' %}
{% block wrapperClasses %}
    class="extra-left-space"
{% endblock %}
{% block side_nav %}
    {% include 'DsoObservationsLogBundle:Dashboard:side_nav.html.twig' %}
{% endblock %}
{% block mainContent %}
    <div class="row">
        <div class="col-lg-12 customized-form">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-lg-6">
                    {{ form_row(form.name) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {{ form_row(form.dsos) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    {{ form_row(form.period) }}
                </div>
                <div class="col-lg-6">
                    {{ form_row(form.equipment) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    {{ form_row(form.conditions) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
