{% extends 'base.html.twig' %}
{% block stylesheetsArea %}
    {% stylesheets
    'bundles/dsohome/css/*'
    filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link href="/bundles/jordillonchcrudgenerator/css/crud.css" rel="stylesheet">
{% endblock %}
{% block wrapperClasses %}{% endblock %}
{% block side_nav %}{% endblock %}
{% block mainContent %}
    <div class="container">

        <h1>Create PlannedList</h1>

        <form class="well" action="{{ path('planner_planned-lists_create') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <p>
                <button type="submit"
                        class="btn btn-success">Create</button>
            </p>
        </form>

        <div>
            <div class="float-left">
                <a class="btn" href="{{ path('planner_planned-lists') }}">
                    Back to the list
                </a>
            </div>
        </div>
    </div>
{% endblock %}
