{% extends 'base.html.twig' %}
{% block stylesheetsArea %}
    {% stylesheets
    'bundles/dsohome/css/*'
    filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link href="/bundles/jordillonchcrudgenerator/css/crud.css" rel="stylesheet">
{% endblock %}
{% block wrapperClasses %}{% endblock %}
{% block mainContent %}
    <div class="container">

        <h1>PlannedList</h1>

        <form class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label">Name</label>

                    <div class="controls"><span class="input-xlarge uneditable-input">{{ entity.name }}</span></div>
                </div>
            </fieldset>
        </form>

        <div>
            <div class="float-left">
                <a class="btn" href="{{ path('planner_planned-lists') }}"> Back to the list </a>
            </div>
            <div class="float-left">
                <a class="btn btn-primary" href="{{ path('planner_planned-lists_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </div>
            <div class="float-left">
                <form action="{{ path('planner_planned-lists_delete', { 'id': entity.id }) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE"/>
                    {{ form_widget(delete_form) }}
                    <button class="btn btn-danger" type="submit"
                            onclick="return confirm('Delete the item?');">Delete</button>
                </form>
            </div>
        </div>
        <div class="clearfix" style="padding:35px;"></div>
        <div class="row">
            <div class="span12">
                <p>Deep Sky Objects on this list: {% if plannedObjects is empty %} None {% endif %} </p>
            </div>
        </div>
        {% if plannedObjects is not empty %}
        <div class="row">
            <div class="span12" id="planned-lists">
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Constellation</th>
                        <th>Type</th>
                        <th>Notes</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dso  in plannedObjects %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ dso[0] | dsoName }}</td>
                            <td>{{ dso[0].constellation }}</td>
                            <td>{{ dso[0].type }}</td>
                            <td>{{ dso.notes }}</td>
                            <td>
                                <button class="btn btn-danger delete-item" type="button" title="Remove DSO from this planned list."
                                data-entityId="{{ entity.id }}" data-dsoId="{{ dso[0].id }}">
                                                    {#return confirm('\n\nDeep sky item < {{ dso[0] | dsoName }} > will be removed from this list\n\nAre you sure?\n\n');">#}
                                    Remove
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        <div id="dialog-remove-dso" title="Remove item from list">
            <p>The selected item will be removed from this list.</p>
            <p><strong>Are you sure? </strong></p>
        </div>
    </div>
{% endblock %}
{% block footer_javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $("#dialog-remove-dso").dialog({
            autoOpen: false,
            resizable: false,
            height: "auto",
            width: 450,
            modal: true,
            buttons: {
                "Yes": function () {
                    var entityId = $(this).data("entityId");
                    var dsoId = $(this).data('dsoId');
                    var that = this;
                    $.ajax({
                        type: "delete",
                        url: Routing.generate('planner_planned-lists_remove_item', {
                            "listId": entityId,
                            "dsoId": dsoId
                        }),
                        success: function () {
                            $(that).dialog("close");
                            location.reload();
                        },
                        error: function (response) {
                            console.log(response); // TODO
                            $(that).dialog("close");
                        }
                    });
                },
                "No": function () {
                    $(this).dialog("close");
                }
            }
        });

        $( "#planned-lists .delete-item" ).on( "click", function() {
            var dsoId = $(this).attr("data-dsoId");
            var entityId = $(this).attr("data-entityId");
            $( "#dialog-remove-dso" ).data('dsoId', dsoId).data('entityId', entityId).dialog( "open" );
        });
    </script>
{% endblock %}
