<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ asset('bundles/dsohome/images/ico/favicon.ico') }}">

    <title>Deep-Skies Home</title>

    <!-- @see http://symfony.com/doc/current/cookbook/assetic/asset_management.html#including-css-stylesheets -->
    {% stylesheets
    'bundles/dsohome/css/*'
    filter="cssrewrite"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Deep-Skies</h3>
                    <ul class="nav masthead-nav">
                        <li class="active"><a href="{{ path('dso_home_homepage') }}">Home</a></li>
                        <li><a href="{{ path('dso_planner_homepage') }}">Planner</a></li>
                        <li><a href="#">Observations Log</a></li>
                        <li><a href="#">Vision</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">Welcome to Deep-Skies.com</h1>
                <p class="lead">
                    A community of amateur astronomers passionate about deep sky objects.
                </p>
                <p class="lead">Available tools:</p>
                    <ul>
                        <li>
                            <strong>Planner</strong> - a quick and easy to use tool for planning your observing sessions.
                        </li>
                        <li>
                            <strong>Observations Log</strong> - Save all your observations in one place, view log entries,
                            manage equipment, export data and more.
                        </li>
                    </ul>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>&copy; Deep-Skies.com 2014 - Powered by <a href="http://getbootstrap.com">Bootstrap</a>.</p>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Placed at the end of the document so the pages load faster -->
{% block footer_javascripts %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
{% javascripts
    '@DsoHomeBundle/Resources/public/js/bootstrap-core/*'
    '@DsoHomeBundle/Resources/public/js/*'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
</body>
</html>
