{% extends 'base.html.twig' %}
{% block stylesheetsArea %}
    {% stylesheets
    'bundles/dsohome/css/*'
    filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/uran1980fancybox/js/fancybox/source/jquery.fancybox.css') }}">
{% endblock %}
{% block jumbotronBlock %} {% endblock %}
{% block mainContent %}
    <div class="container">
        <div class="row">
            {% if pagination is defined %}
                <div class="object-list">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Objects found: {{ pagination.getTotalItemCount }}</div>
                        <div class="panel-body">
                            <div class="navigation">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>

                        {% for object in pagination %}
                            
                            {#Build the object name#}
                            {% set dsoName = '' %}
                            {% if object.name %}
                                {% set dsoName = object.name |trim('"') %}
                            {% endif %}

                            {% if object.cat1  %}
                                {% set paranthesisOpen = '' %}
                                {% if dsoName %}
                                    {% set dsoName = dsoName ~ ' (' ~ object.cat1 ~ ' ' ~ object.id1 %}
                                    {% set paranthesisOpen = 'yes' %}
                                {% else %}
                                    {% set dsoName = object.cat1 ~ ' ' ~  object.id1 %}
                                {% endif %}

                                {% if object.cat2  %}
                                    {% if paranthesisOpen %}
                                        {% set dsoName = dsoName ~ ', ' ~ object.cat2 ~ ' ' ~  object.id2 ~ ')' %}
                                    {% else %}
                                        {% set dsoName = dsoName ~ ' (' ~ object.cat2 ~ ' ' ~  object.id2 ~ ')' %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            
                            <div class="row">
                                <div class="col-lg-11 col-md-11 col-sm-11">
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-lg-1 col-md-1 col-sm-1"></div>
                                        <div class="col-lg-1 col-md-1 col-sm-1">
                                            <a rel="gallery" title="{{ dsoName }}" class="fancybox"></a>
                                               {#href="{{ asset("images/ngcPics/large_800x800/" ~ object.full_size) }}">#}
                                                {#<img src="{{ asset("images/ngcPics/thumbnails_100x100/" ~ object.thumb) }}" alt="{{ object.thumb }}"/></a>#}
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10">
                                            <div class="list-group" style="margin-left:15px;">
                                                <div class="list-group-item">
                                                    <h4 class="list-group-item-heading">{{ dsoName }}</h4>
                                                    <p class="list-group-item-text">Magnitude: <span class="group-item-value"> {{ object.mag }} </span> . Constellation: <span class="group-item-value">{{ object.Constellation }}</span></p>
                                                    <p class="list-group-item-text">Type: <span class="group-item-value">{{ object.type }}</span>.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {#Feature not available without a logged in user. #}
                                {% if app.user %}
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <button class="add-item-to-list" data-dsoId="{{ object.id }}" type="button" title="Add item to observing list"> + </button>
                                </div>
                                {% endif %}
                            </div>
                        {% endfor %}

                        <div class="panel-body">
                            {# display navigation #}
                            <div class="navigation">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div id="dialog-form" title="Add selected item to*">
                    <form>
                        <div id="existingPlannedLists"></div>

                        <p style="margin-top: 25px;">Create a new observing list:</p>
                        <label for="list_name">List Name</label>
                        <input type="text" name="list_name" id="list_name" class="text ui-widget-content ui-corner-all">

                        <!-- Allow form submission with keyboard without duplicating the dialog button -->
                        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
                    </form>
                    <p><small>* Item will be added to selected lists or to a newly created list only after hitting "Save".</small></p>
                </div>
                <div id="dialog-message-ok" title="Success!">
                    <p>
                        <span class="ui-icon ui-icon-circle-check" style="float:left; margin:2px 5px 40px 0;"></span>
                        Object was added to selected observing lists.
                    </p>
                </div>
                <div id="dialog-message-error" class="ui-state-error" title="Failed!">
                    <p>
                        <span class="ui-icon ui-icon-alert" style="float:left; margin:2px 5px 40px 0;"></span>
                        Something went wrong and the object wasn't added to the selected observing lists.
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %} {# <!-- end mainContent block --> #}
{% block footer_javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% javascripts '@DsoHomeBundle/Resources/public/js/add-result-to-list.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/uran1980fancybox/js/fancybox/source/jquery.fancybox.pack.js') }}"></script>
    <script type="application/javascript">
        $(".fancybox").fancybox({
            helpers : {
                title: {
                    type: 'outside',
                    position: 'top'
                }
            },
            afterLoad: function() {
                this.title = '<div style="font-size:20px; margin-bottom: 5px;">' + this.title + '</div>';
            },
            padding : 3,
            margin : 5
        });
    </script>
    {% endjavascripts %}
{% endblock %}
