{% extends 'base.html.twig' %}
{% block pageHeader %} {% endblock %}
{% block jumbotronBlock %} {% endblock %}
{% block mainContent %}

    {% trans_default_domain 'FOSUserBundle' %}

    {% block fos_user_content %}
        <div id="signin" class="container" >
            <form action="{{ path("fos_user_security_check") }}" method="post" name="form" class="form-signin form-validation">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% if error %}
                    <div class="text-danger wrapper text-center">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <h2 class="form-signin-heading text-center">Please log in</h2>
                <input type="text" name="_username" class="form-control" placeholder="Username" required autofocus>
                <input type="password" name="_password" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" name="_submit" type="submit">Log in</button>

                <br><br>
                <span>Use Facebook instead:</span>
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="btn btn-lg btn-block btn-facebook">
                    <span>Login with Facebook</span>
                </a>

            </form>
            <h3 class="form-signin-heading text-center">Or set up a new account here:<a href="{{ path('fos_user_registration_register') }}"> Register</a></h3>
        </div>
    {% endblock fos_user_content %}

{% endblock %} {# <!-- end mainContent block --> #}
