{% extends 'base.html.twig' %}
{% block mainContent %}
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12 main">
        <h1 class="page-header">Manage your deep sky observations</h1>
        {% include 'DsoObservationsLogBundle:Dashboard:horizontal_nav.html.twig' %}

<h1>{{ 'views.new.creation'|trans({'%entity%': 'ObsList'}, 'JordiLlonchCrudGeneratorBundle') }}</h1>

<div class="customized-form">
<form class="well" action="{{ path('obs-lists_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-success">{{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
    </p>
</form>
</div>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('obs-lists') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
</div>
</div>
</div>
{% endblock %}
