{% extends 'base.html.twig' %}
{% block side_nav %}
    {% include 'DsoObservationsLogBundle:Dashboard:side_nav.html.twig' %}
{% endblock %}
{% block mainContent %}

<h1>ObsList</h1>

<form class="form-horizontal">
    <fieldset>        <div class="control-group">
            <label class="control-label">Id</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.id }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.name }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Period</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.period }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Equipment</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.equipment }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Conditions</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.conditions }}</span>            </div>
        </div>    </fieldset>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('obs-lists') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <a class="btn btn-primary" href="{{ path('obs-lists_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('obs-lists_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>
{% endblock %}
