{% extends 'base.html.twig' %}

{% block openGraphMarkup %}
{% if event %}
{% set firstObservedObject = loggedObjects[0] %}
<meta property="og:url"         content="{{ url('dso_shareable_observing_list', {'observingListId' : event.obsListId}) }}" />
    <meta property="og:type"        content="article" />
    <meta property="og:title"       content="{{ event.obsListName }}" />
    <meta property="og:description" content="{{ event.eventName }}. DSOs in list: {{ render(controller('DsoTimelineBundle:Timeline:obsListItemsTextFormat',{ 'obsListId': event.obsListId } )) }}. Observation added on: {{ event.addedOn|date('M d Y') }}" />
    <meta property="og:image"       content="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset("images/ngcPics/large_800x800/" ~ firstObservedObject.full_size) }}" />
{% endif %}
{% endblock %}
{% block stylesheetsArea %}
    {% stylesheets
    'bundles/dsohome/css/*' filter="cssrewrite" %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/uran1980fancybox/js/fancybox/source/jquery.fancybox.css') }}">
{% endblock %}

{% block mainContent %}
    {% if event %}
        <div>
            <h2 id="timeline" style="margin-top: 0; padding-top: 0;">{{ event.obsListName }}</h2>
            <p>Shared by: <strong>{{ event.username }}</strong></p>
            <div class="timeline-heading">
                <span><i class="fa fa-clock-o fa-2x"></i> {{ event.addedOn|date('M d Y - H:i') }}</span>
                <h4 class="timeline-title" style="margin-top: 10px">{{ event.eventName }}</h4>
            </div>
            {% if event.obsEquipment is not empty %}
                <p>Equipment used: {{ event.obsEquipment }}</p>
            {% endif %}
            {% if event.obsConditions is not empty %}<p>
                <p>Overall observing conditions: {{ event.obsConditions }}</p>
            {% endif %}

            {% if app.user %}
                {% if app.user.id == event.id  %}
                    {#Only display the share button for the owner of the Obs Log#}
                    <div class="fb-share-button"
                         data-href="{{ url('dso_shareable_observing_list', {'observingListId' : event.obsListId}) }}"
                         data-layout="button" data-size="large"
                         data-mobile-iframe="true">
                        <a class="fb-xfbml-parse-ignore" target="_blank"
                           href="{{ url('dso_shareable_observing_list', {'observingListId' : event.obsListId}) }}">Share your observations</a>
                    </div>
                {% endif %}
            {% endif %}

        </div>
        <div class="row">
            <div class="object-list">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Total objects observed: {{ loggedObjects | length }}</div>
                    {#<div class="panel-body"></div>#}

                    {% for object in loggedObjects %}
                        <div class="row">
                            <div class="col-lg-11 col-md-11 col-sm-11">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-lg-1 col-md-1 col-sm-1"></div>
                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                        <a rel="gallery" title="{{ object.Name1 }}" class="fancybox"
                                           href="{{ asset("images/ngcPics/large_800x800/" ~ object.full_size) }}">
                                            <img src="{{ asset("images/ngcPics/thumbnails_100x100/" ~ object.thumb) }}" alt="{{ object.thumb }}"/></a>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5">
                                        <div class="list-group" style="margin-left:15px;">
                                            <div class="list-group-item">
                                                <h4 class="list-group-item-heading">{{ object.Name1 }}
                                                    {% if object.Name2 is defined  %}
                                                        ({{ object.Name2 }})
                                                    {% endif %}</h4>
                                                <p class="list-group-item-text">Magnitude: <span class="group-item-value"> {{ object.ObjMagnitude }} </span> . Constellation: <span class="group-item-value">{{ object.Constellation }}</span></p>
                                                <p class="list-group-item-text">Type: <span class="group-item-value">{{ object.ObjType }}</span> . NGC Description: <span class="group-item-value">{{ object.Ngc_desc }}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5">
                                        <div class="list-group" style="margin-left:15px;">
                                            <div class="list-group-item">
                                                {% if object.comment %}<p class="list-group-item-text">Comment: <span class="group-item-value"> {{ object.comment }} </span> </p>{% endif %}
                                                <p class="list-group-item-text">Observed At: <span class="group-item-value">{{ object.observedAt }}</span> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}
{% block footer_javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% javascripts '@DsoHomeBundle/Resources/public/js/add-result-to-list.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/uran1980fancybox/js/fancybox/source/jquery.fancybox.pack.js') }}"></script>
    <script type="application/javascript">
        $(".fancybox").fancybox({
            helpers : {
                title: {
                    type: 'outside',
                    position: 'top'
                }
            },
            afterLoad: function() {
                this.title = '<div style="font-size:20px; margin-bottom: 5px;">' + this.title + '</div>';
            },
            padding : 3,
            margin : 5
        });
    </script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=1594591367498608';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    {% endjavascripts %}
{% endblock %}
